@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
  --bgColor: #5555ab;
  --textColor: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bgColor);
  color: var(--textColor);
  display: flex;
}

.hero .container {
  width: 100%;
  max-width: 880px;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #04042B;
}

.hero .number-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  width: 100%;
}

.hero .number-container div {
  width: 100%;
  max-width: 45%;
}

.hero .number-container div input {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  background-color: #181831;
  color: #a5daf3;
  border-radius: 3px;
}

.hero .container button {
  align-self: flex-end;
  border: none;
  outline: none;
  background-color: #292977;
  color: #fff;
  font-weight: bold;
  letter-spacing: 8px;
  padding: 15px;
  width: 100%;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 40px;
}